<ion-menu side="start" menuId="mainMenu"></ion-menu>
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>QR Code (For testing/demo)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card align-centre>
        <ion-text color="primary" text-center>
      <h1 >A QR code representation of your newly created Ethereum address. Solely for demo purposes so
        the developer can send you Ether without manually typing in your address. </h1>
        <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>

    </ion-text>
  </ion-card>
</ion-content>
