<ion-header>
    <ion-toolbar>
      <ion-title>New Election</ion-title>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/institutions/tabs/view/{{institutionAddress}}"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content text-center padding>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Describe your election</ion-label>
              <ion-input
                type="text"
                ngModel
                name="description"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3">
            <ion-item>
              <ion-label position="floating">When would you like it to end?</ion-label>
              <ion-datetime
                display-format="MMM DD YYYY"
                picker-format="YY MMM DD"
                ngModel
                name="endDate"
                required
                #startDateCtrl="ngModel"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button
              type="submit"
              color="primary"
              expand="block"
              [disabled]="!f.valid "
            >
              Create
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3">
            <ion-item>
              <ion-label position="floating">Add a candidate</ion-label>
              <ion-datetime
                display-format="MMM DD YYYY"
                picker-format="YY MMM DD"
                ngModel
                name="endDate"
                required
                #startDateCtrl="ngModel"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  