<ion-header>
  <ion-toolbar>
    <ion-title>Institutions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="all-instiutions">
        <ion-label> All Institutions </ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="create-institution">
        <ion-label>Create Institutions </ion-label>
        <ion-icon name="card"> </ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
