


<ion-content fullscreen>
    <ion-card>
      <img src="../../../assets/select-institutions/institution_item.png" />
      <ion-card-header>
        <ion-card-title>Welcome to Decentralised Voting!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </ion-content>

<ion-item>
  <ion-text color="primary" text-center>
    <ion-textarea color="primary"
      > <p>This app uses the power of the Ethereum blockchain to secure your
      Elections. If you want to find how Ethereum works then visit the site below. </p>
    </ion-textarea>
    <ion-item href="https://www.ethereum.org/">
      <ion-icon slot="start" color="primary" name="cube"></ion-icon>
      <ion-label text-center>Ethereum Homepage</ion-label>
    </ion-item>
  </ion-text>
</ion-item>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      expand="full"
      fill="clear"
      color="light"
      (click)="closeModal()"
    >
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
