<ion-img>
  <img src="../../../assets/Webp.net-resizeimage (1).png" />
</ion-img>

<ion-item>
  <ion-text color="primary" text-center>
    <h1>
      Welcome to Decentralised Voting!
    </h1>

    <ion-textarea color="primary"
      > <p>This app uses the power of the Ethereum blockchain to secure your
      Elections. If you want to find how Ethereum works then visit the site below. </p>
    </ion-textarea>
    <ion-item href="https://www.ethereum.org/">
      <ion-icon slot="start" color="primary" name="cube"></ion-icon>
      <ion-label text-center>Ethereum Homepage</ion-label>
    </ion-item>
  </ion-text>
</ion-item>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      expand="full"
      fill="clear"
      color="light"
      (click)="closeModal()"
    >
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
