
<ion-item>
  
</ion-item>

<ion-content >
    <div class="padding-top-100">
    <ion-card>
      <ion-card-header padding>
        <ion-card-title color="primary" text-center>Welcome to Decentralised Voting!</ion-card-title>
      </ion-card-header>
      <img src="../../../assets/select-institutions/institution_item.png" />
      <ion-card-content color="primary">
          This app uses the power of the Ethereum blockchain to secure your
          Elections. If you want to find how Ethereum works then visit the site below      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>


<ion-item>
  <ion-text color="primary" text-center>
    <ion-item href="https://www.ethereum.org/">
      <ion-icon slot="start" color="primary" name="cube"></ion-icon>
      <ion-label text-center>Ethereum Homepage</ion-label>
    </ion-item>
  </ion-text>
</ion-item>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      expand="full"
      fill="clear"
      color="light"
      (click)="closeModal()"
    >
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
